.container {
  width: 900px;
  height: 600px;
  display: flex;
  background-color: black;
  margin-left: 200px;
}

.blue {
  width: 300px;
  height: 600px;
  background-color: blue;
}

.white {
  width: 300px;
  height: 600px;
  background-color: white;
}

.red {
    width: 300px;
    height: 600px;
    background-color: red;
  }
  